<div id="add-course-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h5>Add Course</h5>
        <br/>
        <form id="add-course-form" method="post">
            {% csrf_token %}
            <div id="course-name-error"></div>
            <div class="input-field">
                {{ add_course_form.course_name }}
                <label class="input-label"
                       for="{{ add_course_form.course_name.id_for_label }}">Course Name</label>
            </div>
            <div class="modal-footer">
                <button class="modal-action waves-effect waves-light btn action-btn"
                        id="add-course-btn">
                    Add
                </button>
            </div>
        </form>
    </div>
</div>