<div id="course-task-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h5>Add Course Task</h5>
        <form method="post" action="{% url 'add-course-task' %}" class="mt20">
            {% csrf_token %}
            <div class="error">{{ errors }}</div>
            <div class="input-field">
                <select name="course_name">
                    <option value="" disabled selected></option>
                    {% for course in courses %}
                    <option value="{{course}}">{{course.course_name}}</option>
                    {% endfor %}
                </select>
                <label>Select Course</label>
            </div>

            <div class="error">{{ course_task_form.name.errors }}</div>
            <div class="input-field">
                {{ course_task_form.name }}
                <label class="input-label"
                       for="{{ course_task_form.name.id_for_label }}">Task Name</label>
            </div>

            <div class="error">{{ task_info_form.start_time.errors}}</div>
            <label class="date-label input-label">Start Date</label>
            <div class="input-field">
                {{ task_info_form.start_time }}
            </div>

            <div class="error">{{ task_info_form.expected_finish_time.errors}}</div>
            <label class="date-label input-label">Expected Finish Date</label>
            <div class="input-field">
                {{ task_info_form.expected_finish_time }}
            </div>

            <div class="error">{{ task_info_form.due_date.errors}}</div>
            <label class="date-label input-label">Due Date</label>
            <div class="input-field">
                {{ task_info_form.due_date }}
            </div>

            <div class="input-field">
                {{ task_info_form.comments }}
                <label class="input-label"
                       for="{{ task_info_form.comments.id_for_label }}">Comments</label>
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-action modal-close waves-effect waves-light btn action-btn">
                    Add
                </button>
            </div>
        </form>
    </div>
</div>