<div id="edit-course-task-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="edit-course-task-modal">
        </div>
    </div>
</div>

<div id="edit-research-task-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="edit-research-task-modal">

        </div>
    </div>
</div>

<div id="edit-routine-task-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <div class="edit-routine-task-modal">
        </div>
    </div>
</div>