<h5>Edit Research Task</h5>
<form id="edit-research-task-form" method="post" class="mt20">
    {% csrf_token %}
    <div id="topic-error" class="error mt30"></div>
    <div class="input-field">
        {{ research_form.topic }}
        <label class="input-label"
               for="{{ research_form.topic.id_for_label }}">Topic</label>
    </div>

    <br/>

    <div class="hidden-field">
        <div id="start-date-error" class="error"></div>
        <label class="date-label input-label">Start Date</label>
        <div class="row col s12">
            <div class="input-field col s6">
                {{ task_info_form.start_date }}
            </div>
            <div class="input-field col s6">
                {{ task_info_form.start_time }}
            </div>
        </div>
    </div>

    <div id="finish-date-error" class="error"></div>
    <label class="date-label input-label">Expected Finish Date</label>
    <div class="row col s12">
        <div class="input-field col s6">
            {{ task_info_form.expected_finish_date }}
        </div>
        <div class="input-field col s6">
            {{ task_info_form.expected_finish_time }}
        </div>
    </div>

    <div id="due-date-error" class="error"></div>
    <label class="date-label input-label">Due Date</label>
    <div class="row col s12">
        <div class="input-field col s6">
            {{ task_info_form.due_date }}
        </div>
        <div class="input-field col s6">
            {{ task_info_form.due_time }}
        </div>
    </div>

    <div id="pc-error" class="error"></div>
    <div class="input-field">
        {{ task_info_form.percentage_completion }}
        <label class="input-label"
               for="{{ task_info_form.percentage_completion.id_for_label }}">Percentage Complete</label>
    </div>

    <div class="input-field">
        {{ task_info_form.comments }}
        <label class="input-label"
               for="{{ task_info_form.comments.id_for_label }}">Comments</label>
    </div>
    <div id="errors-note" class="error"></div>
    <div class="modal-footer">
        <button id="{{task_id}}/{{task_info_id}}"
                type="submit" class="modal-action waves-effect waves-light btn action-btn">
            Update
        </button>
    </div>
</form>