
<!-- Course Task Form Modal-->
<div id="course-modal" class="modal">
    <div class="modal-content">
        <h4>Course</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>


<!-- Course Task Form Modal-->
<div id="research-modal" class="modal">
    <div class="modal-content">
        <h4>Research</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>


<!-- Course Task Form Modal-->
<div id="routine-modal" class="modal">
    <div class="modal-content">
        <h4>Routine</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>


<!-- Course Task Form Modal-->
<div id="new-category-modal" class="modal">
    <div class="modal-content">
        <h4>New Category</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>