<div id="routine-task-modal" class="modal bottom-sheet">
    <div class="modal-content">
        <h5>Add Routine Task</h5>
        <form id="routine-task-form" method="post" class="mt30">
            {% csrf_token %}

            <div class="input-field">
                {{ routine_form.task_name }}
                <label class="input-label"
                       for="{{ routine_form.task_name.id_for_label }}">Task Name</label>
            </div>
            <br/>

            <div id="start-date-error" class="error"></div>
            <label class="date-label input-label">Start Date</label>
            <div class="row col s12">
                <div class="input-field col s6">
                    {{ task_info_form.start_date }}
                </div>
                <div class="input-field col s6">
                    {{ task_info_form.start_time }}
                </div>
            </div>

            <div id="finish-date-error" class="error"></div>
            <label class="date-label input-label">Expected Finish Date</label>
            <div class="row col s12">
                <div class="input-field col s6">
                    {{ task_info_form.expected_finish_date }}
                </div>
                <div class="input-field col s6">
                    {{ task_info_form.expected_finish_time }}
                </div>
            </div>

            <div class="input-field">
                {{ task_info_form.comments }}
                <label class="input-label"
                       for="{{ task_info_form.comments.id_for_label }}">Comments</label>
            </div>

            <div class="modal-footer">
                <button type="submit" class="modal-action modal-close waves-effect waves-light btn action-btn">
                    Add
                </button>
            </div>
        </form>
    </div>
</div>