{% extends "base/navbar.html" %}
{% load static %}

{% block title %}Change Password{% endblock %}
{% block child_css %}
<link href="{% static 'css/profile.css' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block main-content %}
{% if user.is_authenticated %}
<div class="form-container">
    <h4>Change Password</h4>
    <br/>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <br/>
    <form method="post" action="">
        {% csrf_token %}
        <div class="error">{{ form.old_password.errors }}</div>
        <div class="input-field">
            {{ form.old_password }}
            <label class="input-label"
                   for="{{ form.old_password.id_for_label }}">Current Password *</label>
        </div>
        <div class="error">{{ form.new_password1.errors }}</div>
        <div class="error">{{ form.new_password2.errors }}</div>
        <div class="input-field">
            {{ form.new_password1 }}
            <label class="input-label"
                   for="{{ form.new_password1.id_for_label }}">New Password *</label>
        </div>
        <div class="input-field">
            {{ form.new_password2 }}
            <label class="input-label"
                   for="{{ form.new_password2.id_for_label }}">Confirm new Password *</label>
        </div>
        <div class="center-align mt30">
            <button class="btn waves-effect waves-light action-btn" type="submit">
                Save
            </button>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}