<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
</head>
{% if user.is_authenticated %}
<body>        
    <h4 class="sign_in_header center-align"> Edit User Information </h4>
            <form class="col s12" method="POST" action="{% url 'edit_profile' user.username %}">
                {% csrf_token %}
                <div class="row center-align">
                    {{ edit_form.as_p }}
                </div>
                <div class="row center-align submit-align">
                    <input class="btn waves-effect waves-light s12" type="submit" name="" value="Save">
                </div>
            </form>
</body>
{% endif %}
</html>