<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
</head>
{% if user.is_authenticated %}
<body>        
    <a class="btn btn-primary " href="{% url 'edit_profile' user.username %}" role="button">Edit Student Profile</a> 
    <a class="btn btn-primary" href="#" role="button">Change Password</a>
</body>
{% endif %}
</html>