{% extends "base/base.html" %}
{% load static %}

{% block child_css %}
<link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block content %}
<div class="login-container-2">
    <div class="card info-text pad20">
        <h5>Thank you </h5>
        <div class="divider"></div>
        <p>A confirmation mail has been sent to {{ email }}. Please click the link in that
            email to confirm your email address and complete your registration for Kairos.
        </p>
    </div>
</div>
{% endblock %}