{% extends "base/base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block child_css %}
<link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block content %}
{% if validlink %}
<div class="card login-container">
    <form method="post">
        {% csrf_token %}
        <div class="error">{{ form.new_password1.errors }}</div>
        <div class="error">{{ form.new_password2.errors }}</div>
        <div class="input-field">
            {{ form.new_password1 }}
            <label class="input-label"
                   for="{{ form.new_password1.id_for_label }}">New Password *</label>
        </div>
        <div class="input-field">
            {{ form.new_password2 }}
            <label class="input-label"
                   for="{{ form.new_password2.id_for_label }}">Confirm new Password *</label>
        </div>
        <div class="center-align">
            <input type="submit" value="Change password" class="action-btn btn">
        </div>
    </form>
    {% else %}
    <div class="pad20">
        <h5>The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </h5>
    </div>
</div>
{% endif %}
{% endblock %}