{% extends "base/base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block child_css %}
<link href="{% static 'css/login.css' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block content %}
<div class="login-container-2">
    <div class="card pad20 info-text">
        <h5 class="info-text">Password reset sent</h5>
        <p class="info-text">We've emailed you instructions for setting your password, <b>if an account exists with the email you entered</b>. You should receive them shortly.</p>
        <p class="info-text">If you don't receive an email, please <b>make sure you've entered the email you registered with</b>, and check your spam folder.</p>
    </div>
</div>
{% endblock %}