.action-btn {
    background-color: #0277bd;
}
.action-btn:hover {
    background-color: #01579b;
}
.red-btn {
    font-size: 13px;
    background-color: #ff5252;
}
.red-btn:hover {
    background-color: #d32f2f;
}

.error {
    font-size: 13px;
    font-weight: 600;
    color: #ef5350;
}
.errorlist {
    font-size: 13px;
    font-weight: 600;
    color: #ef5350;
}
.success {
    font-size: 14px;
    font-weight: 600;
    color: #66bb6a;
}

.input-field input:focus {
     border-bottom: 2px solid #0d47a1 !important;
     color: #333;
}
.input-field input {
     font-size: 15px;
     border-bottom: 2px solid #ddd !important;
     margin-bottom: 15px !important;
}

.input-field label {
    color: #999 !important;
    font-size: 14px;
}
.input-field input:focus + label {
    color: #999 !important;
}

.pad20 {
    padding: 20px;
}
.pad10 {
    padding: 10px;
}
.mt30{
   margin-top: 30px;
}

.mr30 {
    margin-right: 30px;
}
.ml20 {
    margin-left: 20px;
}

.dropdown-content li>span {
    color: #03a9f4;
}