.action-btn {
    background-color: #0277bd;
}
.action-btn:hover {
    background-color: #01579b;
}
.red-btn {
    font-size: 13px;
    background-color: #ff5252;
}
.red-btn:hover {
    background-color: #d32f2f;
}

.error {
    font-size: 13px;
    font-weight: 600;
    color: #ef5350;
}
.errorlist {
    font-size: 13px;
    font-weight: 600;
    color: #ef5350;
}
.success {
    font-size: 14px;
    font-weight: 600;
    color: #66bb6a;
}
