body {
    background: #efefef;
}

.tasks-container {
    margin: 0 auto;
    width: 90%;
}

.task-pad {
    padding: 15px 10px 12px 10px;
    margin-top: 10px;
}

.task-name {
    font-weight: 600;
    font-size: 15px;
}

.alert-msg {
    color: #f44336;
    font-size: 15px;
}

.fin-task {
   font-weight: 600;
   font-size: 15px;
   color: #888;
}

li.float-none {
    float: none !important;
}

a.modal-trigger {
    font-size: 16px;
    font-weight: bold;
}

.tabs .tab a {
    color: #0288d1 !important;
}

.tabs .indicator {
    display: none;
}

.tab-indicator {
    border-bottom: 2px solid #01579b;
}

.bottom-sheet {
    max-height: 82% !important;
}

.date-label {
    font-size: 15px !important;
}

.picker__date-display {
    background-color: #03a9f4;
}
.picker__close {
    color: #03a9f4;
}
.picker__today {
    color: #03a9f4;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {
    background-color: #03a9f4;
}
.picker__day.picker__day--today {
    color: #03a9f4;
}
.picker__nav--prev:hover, .picker__nav--next:hover {
    background-color: #81d4fa;
}

p.task-headings {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}

.text-data {
    font-size: 14px;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #03a9f4 !important;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #0277bd !important;
}

.no-borders {
    box-shadow: none !important;
    border: none !important;
}
.no-pad {
    padding: 0 !important;
}

.carousel {
    height: 250px !important;
    overflow: unset;
}
.carousel-item {
    width: auto !important;
    height: auto !important;
    margin-top: -30px;
}
.indicator-item {
    background-color: #ccc !important;
}
.indicator-item.active {
    background-color: #999 !important;
}

.navbar-link {
    display: flex !important;
}