body, html {
    background-image: url('../images/bg.jpg');
    height: 100%;
    background-repeat: repeat-y;
    background-size: cover
}

.login-container {
     position: absolute;
     margin: 0 auto;
     top: 20%;
     right: 0;
     left: 0;
}

.register-container {
     position: absolute;
     margin: 0 auto;
     top: 3%;
     right: 0;
     left: 0;
     width: 65%;
     max-width: 500px;
     padding: 0px 20px 10px 20px;
}

.tagline-text {
     font-size: 25px;
     color: #fff;
     margin-left: 30px;
     font-weight: 600;
}

.features {
    margin-left: 30px;
    font-size: 18px;
    color: #fff;
}

.feature {
    margin-top: 15px;
}

.welcome-text {
    color: #666;
    border-bottom: 1px solid #ccc;
    font-size: 26px;
}

.login-btn {
    width: -webkit-fill-available
}

.forgot-text {
    font-size: 12px !important;
    color: #999;
}

.sign-up-text {
    color: #0277bd;
    font-size: 16px !important;
    text-transform: none !important;
    cursor: pointer;
}

.info-text {
    color: #fff;
    font-size: 22px;
}

.back-link i {
    color: #fff !important;
    font-size: 40px;
    margin: 20px 0px 0px 20px;
}