{% extends "base/dashboard-navbar.html" %}
{% load static %}

{% block title %}Course Work{% endblock %}

{% block fab %}
<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large light-blue darken-3">
        <i class="material-icons">create</i>
    </a>
    <ul>
        <li class="waves-effect waves-light">
            <a class="modal-trigger" href="#add-course-modal">Add Course</a>
        </li>
        <li class="waves-effect waves-light">
            <a class="modal-trigger" href="#course-task-modal">Course Task</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block main-content%}
<div class="tasks-container">
    <div class="row">
        {% for course in courses %}
            <div class="col s12"><p class="task-headings">{{course.course_name}}</p></div>
            {% for task in course.course_tasks.all %}
                <div class="col s6">
                    {% include "base/task.html" %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block modals %}
{% include "modals/course_modal.html" %}
{% include "modals/add_course_modal.html" %}
{% include "modals/edit_task_modals.html" %}
{% endblock %}


