{% extends "base/dashboard-navbar.html" %}
{% load static %}

{% block title %}Course Work{% endblock %}

{% block fab %}
<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large light-blue darken-3">
        <i class="material-icons">create</i>
    </a>
    <ul>
        <li class="waves-effect waves-light">
            <a class="modal-trigger" href="#add-course-modal">Add Course</a>
        </li>
        <li class="waves-effect waves-light">
            <a class="modal-trigger" href="#course-task-modal">Course Task</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block main-content%}
<div class="tasks-container">
    <div class="row">
        {% if other_tasks %}
            <h5>Current Tasks</h5>
        {% endif %}
        {% for task in other_tasks %}
            <div class="col s6">
                {% include "base/task.html" %}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        {% if finished_tasks %}
            <h5>Completed Tasks</h5>
        {% endif %}
        <div class="carousel center" data-indicators="true">
            {% for task in finished_tasks %}
                <div class="carousel-item">
                    {% include "base/task.html" %}
                </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block modals %}
{% include "modals/course_modal.html" %}
{% include "modals/add_course_modal.html" %}
{% include "modals/edit_task_modals.html" %}
{% endblock %}


