{% extends "base/dashboard-navbar.html" %}
{% load static %}

{% block title %}Course Work{% endblock %}

{% block fab %}
<div class="fixed-action-btn toolbar">
    <a class="btn-floating btn-large light-blue darken-3">
        <i class="material-icons">create</i>
    </a>
    <ul>
        <li class="waves-effect waves-light">
            <a class="modal-trigger" href="#add-course-modal">Create Course</a>
        </li>
        <li class="waves-effect waves-light">
            <a class="modal-trigger" href="#course-task-modal">Course Task</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block modals %}
{% include "modals/course_modal.html" %}
{% include "modals/add_course_modal.html" %}
{% endblock %}