{% extends "base/dashboard-navbar.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block fab %}
<div class="fixed-action-btn toolbar show-on-medium-and-up hide-on-small-only">
    <a class="btn-floating btn-large light-blue darken-3">
        <i class="material-icons">create</i>
    </a>
    <ul>
        <li class="waves-effect waves-light">
            <a class="modal-trigger" href="#add-course-modal">Add Course</a>
        </li>
        <li class=" waves-effect waves-light">
            <a class="modal-trigger" href="#course-task-modal">Course Task</a>
        </li>
        <li class="waves-effect waves-light ">
            <a class="modal-trigger" href="#research-task-modal">Research Task</a>
        </li>
        <li class="waves-effect waves-light ">
            <a class="modal-trigger" href="#routine-task-modal">Routine Task</a>
        </li>
    </ul>
</div>
<div class="fixed-action-btn click-to-toggle hide-on-med-and-up show-on-small">
    <a class="btn-floating btn-large light-blue darken-3">
        <i class="material-icons">create</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating btn-large modal-trigger indigo lighten-3" href="#add-course-modal">
                <i class="material-icons">add</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large modal-trigger amber" href="#routine-task-modal">
                <i class="material-icons">hotel</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large modal-trigger light-green" href="#research-task-modal">
                <i class="material-icons">library_books</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large modal-trigger cyan" href="#course-task-modal">
                <i class="material-icons">note_add</i>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block main-content%}
<p class="task-headings">Coursework</p>
{% for course in courses %}
    <div class="col s12"><p class="course-name">{{course.course_name}}</p></div>
    {% for task in course.course_tasks.all %}
        {% include "base/task.html" %}
    {% endfor %}
{% endfor %}

<br/>

<p class="task-headings">Research Tasks</p>
{% for task in research_tasks %}
    {% include "base/task.html" %}
{% endfor %}

<br/>

<p class="task-headings">Routine tasks</p>
{% for task in routine_tasks %}
    {% include "base/task.html" %}
{% endfor %}

{% endblock %}

{% block modals %}
{% include "modals/add_course_modal.html" %}
{% include "modals/course_modal.html" %}
{% include "modals/research_modal.html" %}
{% include "modals/routine_modal.html" %}
{% include "modals/edit_task_modals.html" %}
{% endblock %}

