{% extends "base/dashboard-navbar.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block fab %}
<div class="fixed-action-btn toolbar show-on-medium-and-up hide-on-small-only">
    <a class="btn-floating btn-large light-blue darken-3">
        <i class="material-icons">create</i>
    </a>
    <ul>
        <li class="waves-effect waves-light">
            <a class="modal-trigger" href="#add-course-modal">Add Course</a>
        </li>
        <li class=" waves-effect waves-light">
            <a class="modal-trigger" href="#course-task-modal">Course Task</a>
        </li>
        <li class="waves-effect waves-light ">
            <a class="modal-trigger" href="#research-task-modal">Research Task</a>
        </li>
        <li class="waves-effect waves-light ">
            <a class="modal-trigger" href="#routine-task-modal">Routine Task</a>
        </li>
    </ul>
</div>
<div class="fixed-action-btn click-to-toggle hide-on-med-and-up show-on-small">
    <a class="btn-floating btn-large light-blue darken-3">
        <i class="material-icons">create</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating btn-large modal-trigger indigo lighten-3" href="#add-course-modal">
                <i class="material-icons">add</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large modal-trigger amber" href="#routine-task-modal">
                <i class="material-icons">hotel</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large modal-trigger light-green" href="#research-task-modal">
                <i class="material-icons">library_books</i>
            </a>
        </li>
        <li>
            <a class="btn-floating btn-large modal-trigger cyan" href="#course-task-modal">
                <i class="material-icons">note_add</i>
            </a>
        </li>
    </ul>
</div>
{% endblock %}

{% block main-content%}
{% for course in courses %}
<div class="row">
    <div class="col s12"><span class="red-text text-darken-2">Course Name:</span> {{course.course_name}}</div>
    {% for task in course.course_tasks.all %}
    <div class="collection">
        <div class="collection-item">
            <span class="badge">Due Date: {{task.task_info.due_date}}
            </span>
            <span class="green-text">Task:</span> {{task.name}}
        </div>
        <div class="col s6">Start Date: {{task.task_info.start_date}}</div>
        <div class="col s6">Expected Finish Date: {{task.task_info.expected_finish_date}}</div>
        <!--<div class="col s12">Comments: {{task.task_info.comments}}</div>-->
        <div class="col s12">Percentage completion: {{task.task_info.percentage_completion}}</div>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% for research in researches %}
<div class="row">
    <div class="col s12"><span class="red-text text-darken-2">Research Name:</span> {{research.topic}}</div>
    <div class="col s6">Due Date: {{research.task_info.due_date}}</div>
    <div class="col s6">Start Date: {{research.task_info.start_date}}</div>
    <div class="col s6">Expected Finish Date: {{research.task_info.expected_finish_date}}</div>
    <!--<div class="col s12">Comments: {{research.task_info.comments}}</div>-->
    <div class="col s12">Percentage completion: {{research.task_info.percentage_completion}}</div>
</div>
{% endfor %}

{% for routine in routines %}
<div class="row">
    <div class="col s12"><span class="red-text text-darken-2">Routine Name:</span> {{routine.task_name}}</div>
    <div class="col s6">Due Date: {{routine.task_info.due_date}}</div>
    <div class="col s6">Start Date: {{routine.task_info.start_date}}</div>
    <div class="col s6">Expected Finish Date: {{routine.task_info.expected_finish_date}}</div>
    <!--<div class="col s12">Comments: {{routine.task_info.comments}}</div>-->
    <div class="col s12">Percentage completion: {{routine.task_info.percentage_completion}}</div>
</div>
{% endfor %}

{% endblock %}

{% block modals %}
{% include "modals/add_course_modal.html" %}
{% include "modals/course_modal.html" %}
{% include "modals/research_modal.html" %}
{% include "modals/routine_modal.html" %}
{% endblock %}
