{% extends "base/dashboard-navbar.html" %}
{% load static %}

{% block title %}Research{% endblock %}

{% block fab %}
<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large modal-trigger light-blue darken-3" href="#research-task-modal">
        <i class="material-icons">create</i>
    </a>
</div>
{% endblock %}

{% block main-content%}
{% for task in research_tasks %}
<div class="row card pad20">
    <div class="col s12"><h6><b>{{task.topic}}</b></h6> </div>
    <div class="col s6">Start Date: {{task.task_info.start_date}}</div>

    {% if task.task_info.due_date %}
    <div class="col s6">Due Date: {{task.task_info.due_date}}</div>
    {% endif %}

    <div class="col s6">Expected Finish Date: {{task.task_info.expected_finish_date}}</div>

    {% if task.task_info.comments %}
    <div class="col s12">Comments: {{task.task_info.comments}}</div>
    {% endif %}

    {% if task.task_info.percentage_completion %}
        <div class="col s12">Percentage completion: {{task.task_info.percentage_completion}}</div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}

{% block modals %}
{% include "modals/research_modal.html" %}
{% endblock %}
