{% extends "base/dashboard-navbar.html" %}
{% load static %}

{% block title %}Research{% endblock %}

{% block fab %}
<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large modal-trigger light-blue darken-3" href="#research-task-modal">
        <i class="material-icons">create</i>
    </a>
</div>
{% endblock %}

{% block main-content%}
{% for research in researches %}
<div class="row">
  <div class="col s12"><span class="red-text text-darken-2">Research Name:</span> {{research.topic}}</div>
  <div class="col s6">Due Date: {{research.task_info.due_date}}</div>
  <div class="col s6">Start Date: {{research.task_info.start_date}}</div>
  <div class="col s6">Expected Finish Date: {{research.task_info.expected_finish_date}}</div>
  <div class="col s12">Comments: {{research.task_info.comments}}</div>
  <div class="col s12">Percentage completion: {{research.task_info.percentage_completion}}</div>
</div>
{% endfor %}
{% endblock %}

{% block modals %}
{% include "modals/research_modal.html" %}
{% endblock %}
