{% extends "base/dashboard-navbar.html" %}
{% load static %}

{% block title %}Routine{% endblock %}

{% block fab %}
<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large modal-trigger light-blue darken-3" href="#routine-task-modal">
        <i class="material-icons">create</i>
    </a>
</div>
{% endblock %}

{% block main-content%}
{% for task in routine_tasks %}
    {% include "base/task.html" %}
{% endfor %}
{% endblock %}

{% block modals %}
{% include "modals/routine_modal.html" %}
{% include "modals/edit_task_modal.html" %}
{% endblock %}

