{% extends "base/dashboard-navbar.html" %}
{% load static %}

{% block title %}Routine{% endblock %}

{% block fab %}
<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large modal-trigger light-blue darken-3" href="#routine-task-modal">
        <i class="material-icons">create</i>
    </a>
</div>
{% endblock %}

{% block main-content%}
<div class="tasks-container">
    <div class="row">
        {% if other_tasks %}
            <h5>Current Tasks</h5>
        {% endif %}
        {% for task in other_tasks %}
            <div class="col s12 m12 l6">
                {% include "base/task.html" %}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        {% if finished_tasks %}
            <h5>Completed Tasks</h5>
        {% endif %}
        <div class="carousel center">
            {% for task in finished_tasks %}
                <div class="carousel-item">
                    {% include "base/task.html" %}
                </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block modals %}
{% include "modals/routine_modal.html" %}
{% include "modals/edit_task_modals.html" %}
{% endblock %}

