{% extends "base/base.html" %}

{% load static %}

{% block child_css %}
<link href="{% static 'css/dashboard.css' %}" type="text/css" rel="stylesheet" media="screen"/>
<link href="{% static 'css/profile.css' %}" type="text/css" rel="stylesheet" media="screen"/>
{% endblock %}

{% block content %}
<nav class="nav-extended">
    <div class="nav-wrapper light-blue">
        <a href="{% url 'dash' %}" class="brand-logo ml20">Kairos</a>

        <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="mr30 light-blue darken-1">
                <a class="navbar-link" href="{% url 'dash' %}">
                    <i class="material-icons">dashboard</i>
                    <span class="ml10">Dashboard</span>
                </a>
            </li>
            <li class="mr30 light-blue darken-1">
                <a class="navbar-link" href="{% url 'edit-profile' user.pk %}">
                    <i class="material-icons">person_outline</i>
                    <span class="ml10">{{ username }}</span>
                </a>
            </li>
            <li class="mr30"><a href="{% url 'logout' %}"><i class="large material-icons">exit_to_app</i></a></li>
        </ul>

        <ul class="side-nav" id="mobile-demo">
            <li><a href="{% url 'dash' %}">Dashboard</a></li>
            <li><a href="{% url 'edit-profile' user.pk %}">{{ username }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </div>

    <div class="center-align">
        <ul id="tabs" class="tabs">
            <li class="tab col s3 float-none">
                <a id="analytics" target="_self" href="{% url 'analytics' %}">Coursework Tree</a>
            </li>
            <li class="tab col s3 float-none">
                <a id="get-course-analytics" target="_self" href="{% url 'get-course-analytics' %}">Courses</a>
            </li>
            <li class="tab col s3 float-none">
                <a id="get-research-analytics" target="_self" href="{% url 'get-research-analytics' %}">Research</a>
            </li>
            <li class="tab col s3 float-none">
                <a id="get-overall-analytics" target="_self" href="{% url 'get-overall-analytics' %}">Overall</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/analytics.js' %}"></script>
<script src="{% static 'js/collapsible_tree.js' %}"></script>
<script src ="{% static 'js/notification.js' %}"></script>
{% endblock %}
