<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale="/>

    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link href="{% static 'css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen"/>
    <link href="{% static 'css/common.css' %}" type="text/css" rel="stylesheet" media="screen"/>
    {% block child_css %}{% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    {% block main-content %}
    {% endblock %}

    {% block fab %}
    {% endblock %}

    {% block modals %}
    {% endblock %}

    <!--  Scripts-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>