<div class="row card pad20">
    {% if task.name %}
        <div class="col s6"><h6><b>{{task.name}}</b></h6></div>
    {% endif %}

    {% if task.topic %}
        <div class="col s6"><h6><b>{{task.topic}}</b></h6></div>
    {% endif %}

    {% if task.task_name %}
        <div class="col s6"><h6><b>{{task.task_name}}</b></h6></div>
    {% endif %}

    <!-- Switch -->
    <div class="switch col s3">
        <label>
            Pause
            <input type="checkbox">
            <span class="lever"></span>
            Start
        </label>
        <input type="hidden" name="id" value="{{task.task_info.id}}">
    </div>
    <div class="col s3"><button class="stop waves-effect waves-light btn">Stop</button></div>
    <div class="col s3"><button class="edit waves-effect waves-light btn">Edit</button></div>
    <div class="col s6">Start Date: {{task.task_info.start_date}}</div>
    <div class="col s6">Expected Finish Date: {{task.task_info.expected_finish_date}}</div>

    {% if task.task_info.due_date %}
    <div class="col s6">Due Date: {{task.task_info.due_date}}</div>
    {% endif %}

    {% if task.task_info.comments %}
    <div class="col s12">Comments: {{task.task_info.comments}}</div>
    {% endif %}

    {% if task.task_info.percentage_completion %}
    <div class="col s12">Percentage completion: {{task.task_info.percentage_completion}}</div>
    {% endif %}
</div>