{% load class_tag %}

<div class="row card pad10">
    <div class="col s12">
        {% if task.name %}
            <div><h6><b>{{task.course.course_name}}: {{task.name}}</b></h6></div>
        {% endif %}

        {% if task.topic %}
            <div><h6><b>{{task.topic}}</b></h6></div>
        {% endif %}

        {% if task.task_name %}
            <div><h6><b>{{task.task_name}}</b></h6></div>
        {% endif %}

        <!-- Switch -->
        <a class="switch right inline mt-25">
            <label>
                Pause
                <input value="{{task.task_info.id}}" type="checkbox" checked>
                <span class="lever"></span>
                Start
            </label>
        </a>
    </div>

    <div class="col s12">
        <div>Start Date: {{task.task_info.start_date}}</div>
        <div>Expected Finish Date: {{task.task_info.expected_finish_date}}</div>

        {% if task.task_info.due_date %}
        <div>Due Date: {{task.task_info.due_date}}</div>
        {% endif %}

        {% if task.task_info.percentage_completion %}
        <div>Percentage completion: {{task.task_info.percentage_completion}}</div>
        {% endif %}

        {% if task.task_info.comments %}
        <div>Comments: {{task.task_info.comments}}</div>
        {% endif %}
    </div>

    <div class="pb-container/{{task.task_info.id}}">

    </div>

    <div class="col s12 actions">
        <a id="{{task.task_info.id}}" class="stop right">
            Mark as Completed
        </a>
        <a id="{{task.id}}/{{task.task_info.id}}/{{task|get_class}}"
           class="edit right">
            Edit
        </a>
    </div>
</div>
