{% extends "base/analytics-navbar.html" %}
{% load static %}

{% block title %}Course Analytics{% endblock %}

{% block main-content %}
<div class="row center-align">
    <h5 class="chart-heading mt10"></h5>
</div>
<div class="center-align time_per_course mt30">
</div>
{% for course in courses %}
    <div class="row ml10">
        <h5 class="col s6">Time spent for {{course.course_name}}</h5>
    </div>

    <div class="center-align course_{{course.id}} mt30"></div>
{% endfor %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/analytics.js' %}"></script>
<script src="{% static 'js/d3.v4.min.js' %}"></script>
<script src="{% static 'js/course_analytics.js' %}"></script>
<script src ="{% static 'js/notification.js' %}"></script>
{% endblock %}
