{% extends "base/analytics-navbar.html" %}
{% load static %}

{% block title %}Overall Analytics{% endblock %}

{% block main-content %}
<div class="pie center-align">
  <h5>pie chart for completed vs incomplete tasks</h5>
  <svg width="960" height="500"></svg>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/overall_pie_chart_analytics.js' %}"></script>
<script src="{% static 'js/d3.v4.min.js' %}"></script>
<script src ="{% static 'js/notification.js' %}"></script>
{% endblock %}
